.appBlock {
    width: 600px;
    border: 1px solid grey;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #E6E6FA;
    background: #F8F8FF;
} 