.filterBlock{
    width: 240px;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(12, 1, 1, 0.836);
    &__item{
        border-right: 1px solid black;
        width: 80px;
        display: flex;
        justify-content: center;
        padding: 5px 0;
        cursor: pointer;
        &_all{
            &Click{
                background: rgba(0, 0, 0, 0.774);
                color: white;
            }
        }
        &_done{
            &Click{
                background: rgba(0, 0, 0, 0.774);
                color: white;
            }
        }
        &_important{
            &Click{
                background: rgba(0, 0, 0, 0.774);
                color: white;
            }
        }
        &_withoutBorder{
            border-right: none;
        }
    }
}